* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

body {
    background: #1E2D3B;
    min-height: 100vh;
}

.container {
    width: 1070px;
    height: 100%;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 70px;
    background: rgb(46, 58, 70);
    position: relative;
}

header img {
    height: 50px;
    margin-top: 10px;
    display: block;
    float: left;
}

.cds-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 100px 0;
}

.cd {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-basis: 200px;
    padding: 20px;
    margin: 10px 20px;
    height: 360px;
    background: rgb(46, 58, 70);
    text-align: center;
}

.cd img {
    max-width: 100%;
}

.but {
  background-color: white;
  color : red;
  padding: 15px;
  border-radius: 70%;
  display: block;
  margin: 0px 30px;
  float: left;
  margin-top: 15px;
}
